{% extends 'base.html.twig' %}
{% block title 'Пользовательское Соглашение' %}
{% block header 'Пользовательское Соглашение' %}
{% block main %}
    <div class="row row-cards">
        <div class="col-lg-12">
            <div class="card card-lg">
                <div class="card-body">
                    <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между
                        владельцем
                        Храбрый Полк (далее скрипт
                        для Вконтакте или Администрация) с одной стороны и пользователем сайта с другой.
                        <br/> Скрипт для Храбрый Полк не является средством массовой информации.<br/>
                        <br/> Используя скрипт, Вы соглашаетесь с условиями данного соглашения.<br/>
                        <strong>Если Вы не согласны с условиями данного соглашения, не используйте скрипт Храбрый Полк!</strong></p>
                    <p><strong>Предмет соглашения</strong></p>
                    <p><strong>Администрация предоставляет пользователю право на размещение на сайте следующей
                            информации:</strong></p>
                    <p><strong>Предмет соглашения</strong></p>
                    <p><strong>Администрация предоставляет пользователю право на размещение на сайте следующей
                            информации:</strong><br/> -
                        Текстовой информации<br/> - Ссылок на материалы, размещенные на других сайтах</p>
                    <p><strong>Права и обязанности сторон</strong></p>
                    <p><strong>Пользователь имеет право:</strong><br/> - пользоваться услугами предоставленными
                        сайтом<br/>
                        - получать
                        информацию на сайте<br/> - распространять информацию на сайте<br/> - использовать информацию
                        сайта в
                        личных
                        некоммерческих целях<br/> - осуществлять поиск информации на сайте</p>
                    <p><br/> <strong>Администрация имеет право:</strong><br/> - по своему усмотрению и необходимости
                        создавать, изменять,
                        отменять правила<br/> - ограничивать доступ к любой информации в скрипте<br/> - создавать,
                        изменять,
                        удалять
                        информацию<br/> - удалять учетные записи<br/> - отказывать в регистрации без объяснения
                        причин<br/>
                        - по своему
                        усмотрению и необходимости менять стоимость услуг предоставленными сайтом</p>
                    <p><br/> <strong>Пользователь обязуется:</strong><br/> - не нарушать работоспособность
                        скрипта
                    </p>
                    <p><br/> <strong>Администрация обязуется:</strong><br/> - поддерживать работоспособность
                        скрипта
                        за
                        исключением
                        случаев, когда это невозможно по независящим от Администрации причинам.</p>
                    <p><strong>Ответственность сторон</strong></p>
                    <p>- пользователь лично несет полную ответственность за распространяемую им информацию<br/> -
                        пользователь лично несет
                        полную ответственность за использование услуг, предоставленными сайтом<br/> - администрация
                        не
                        несёт
                        ответственность
                        за несовпадение ожидаемых Пользователем и реально полученных услуг<br/> - администрация не
                        несет
                        никакой
                        ответственности за услуги, предоставляемые третьими лицами<br/> - в случае возникновения
                        форс-мажорной ситуации
                        (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не
                        гарантирует
                        сохранность
                        информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса
                    </p>
                    <p><strong>Условия действия Соглашения</strong></p>
                    <p>Данное Соглашение вступает в силу при любом использовании данного скрипта.<br/> Соглашение
                        перестает
                        действовать при
                        появлении его новой версии.<br/> Администрация оставляет за собой право в одностороннем
                        порядке
                        изменять данное
                        соглашение по своему усмотрению.<br/> Администрация не оповещает пользователей об изменении
                        в
                        Соглашении.</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


