{% extends '/TwigBundle/main.html.twig' %}
{% block title 'Error 404 (Not Found)' %}
{% block content %}
    <div class="empty">
        <div class="empty-header">{{ status_code }}</div>
        <p class="empty-subtitle text-muted">
            {{ 'http_error_404.description'|trans({ '%status_code%': status_code }) }}
        </p>
        <div class="empty-action">
            {{ 'http_error_404.suggestion'|trans({ '%url%': path('top') })|raw }}
        </div>
    </div>
{% endblock %}
